main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

main section {
  width: 500px;
}

main section img {
  width: 100px;
}

main section p {
  color: rgb(76, 0, 255);
}
